@{
    ViewBag.Title = "Home Page";
}
@model RemoteHotel.Client.Models.HotelDashboardModel

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var room in Model.Rooms)
    {
        <div class="list-group">
            <div class="list-group-item active">
                @room    
            </div>
            @foreach (var roomCustomer in room.RoomCustomers)
            {
            <div class="list-group-item">
                @roomCustomer.
            </div>
            }
        </div>
    }
</div>